div {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: red;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d1c7c7;
}